.one-clamp{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.two-clamp{
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    word-wrap:break-word;
}

.three-clamp{
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    word-wrap:break-word;
}

.four-clamp{
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    word-wrap:break-word;
}
.five-clamp{
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
    word-wrap:break-word;
}

.six-clamp{
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6;
    word-wrap:break-word;
}