$themecolor : #3B7B4C; 
$themecolor2 : #F2F2F2; 

$textcolor : #5C5C5C;

$lighttext : #666;

$linkcolor : $themecolor;
$linkcolor2 : #aaaaaa;

$border : #707070;

$lightbg : #F4F4F4;


$rss : #f46722;
$facebook : #304a7d; 
$twitter : #319bc2;
$line : #00b900;
$youtube : #FF0000;
$in : #0077B7;
$pintorest: #BD061B;
$ig : #C13584;